@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* body is the largest parental 
flex container  */
body {
  min-height: 100vh;
  margin: 0px; /* temporary margin to see the body more clearly*/
  overflow: hidden;
  font-family: Roboto, sans-serif;

  display: flex;
  flex-direction: column;
}

/* content is a flex container  */
.content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 50px;
  
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;

  padding: 10px;
  margin: 5px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: px;
}

/* header is a flex container  */
.header, .footer{
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

/* footer is a flex container  */
.footer{
  background-color: #eeeeee;
}

/*  adjusts design and layout of 
left-links and right-links on
both footer and header.    */
ul{
  display: flex;
  list-style: none;
  gap: 16px;
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
  color: rgb(90, 87, 87);
}